<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="通用矿版">
    <parameter name="driver" value="FirefoxDriver" />
    <parameter name="url" value="http://192.168.3.194:8080/sdzk/"/> <!--测试地址-->
    <parameter name="remark" value="webui自动化测试,自动输入内容" />
    <test verbose="2" preserve-order="true" name="登录功能">
        <classes>
            <class name="com.webui.aqfxfjgk.LoginPageTests">
                <methods>
                    <include name="TC_login"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="风险审核-查询">
        <classes>
            <class name="com.webui.aqfxfjgk.ReviewDangerListPageTests">
                <methods>
                    <parameter name="AddressCate" value="办公楼" />
                    <include name="TC_searchByAddressCate"/>
                    <parameter name="hazardDesc" value="顶板伤人" />
                    <include name="TC_searchByYeMhazardDesc"/>
                    <parameter name="profession" value="运输" />
                    <include name="TC_searchByYeProfession"/>
                    <parameter name="damageType" value="瓦斯爆炸"/>
                    <include name="TC_searchByDamageType"/>
                    <parameter name="YePossiblyHazard" value="10-103工作面带压开采" />
                    <include name="TC_searchByYePossiblyHazard"/>
                    <parameter name="activityid" value="回采"/>
                    <include name="TC_searchByActivityid"/>
                    <parameter name="riskGrade" value="一般风险"/>
                    <include name="TC_searchByYeRiskGrade"/>
                    <parameter name="hazardCate" value="机"/>
                    <include name="TC_searchByYeHazardCate"/>
                    <!--<include name="TC_reviewCallback"/>-->
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="职工个人基本信息:查询" enabled="false">
        <classes>
            <class name="com.webui.aqfxfjgk.EmployeeInfoListPageTests">
                <methods>
                    <parameter name="fileNo" value="01"/>
                    <parameter name="searchfileNo" value="档案号"/>
                    <include name="TC_searchByFileNo"/>
                    <parameter name="postNo" value="01"/>
                    <parameter name="searchpostNo" value="在岗编号"/>
                    <include name="TC_searchByPostNumber"/>
                    <parameter name="retireNumber" value="01"/>
                    <parameter name="searchretireNumber" value="退休编号"/>
                    <include name="TC_searchByRetireNumber"/>
                    <parameter name="name" value="xxx"/>
                    <parameter name="searchname" value="姓名"/>
                    <include name="TB_searchByName"/>
                    <parameter name="cardNumber" value="321111198901077615"/>
                    <parameter name="searchcardNumber" value="身份证号"/>
                    <include name="TC_searchByCardNumber"/>
                    <include name="TC_verifyFileNo"/>
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="职工个人基本信息:添加数据" enabled="false">
        <classes>
            <class name="com.webui.aqfxfjgk.EmployeeInfoListPageTests">
                <methods>
                    <include name="TC_addEmInfo"/>
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="录入危险源" enabled="false">
        <classes>
            <class name="com.webui.aqfxfjgk.DepartReportDangerListPageTests">
                <methods>
                    <parameter name="hazardName" value="水"/>
                    <parameter name="yePossiblyHazard" value="webui-风险描述"/>
                    <parameter name="yeProbability" value="1"/>
                    <parameter name="yeCost" value="2"/>
                    <parameter name="yeHazardCate" value="人"/>
                    <parameter name="activityname" value="运输"/>
                    <parameter name="docSource" value="webui-管控标准来源"/>
                    <parameter name="sectionName" value="webui-章节条款"/>
                    <parameter name="yeStandard" value="webui-标准内容"/>
                    <parameter name="manageMeasure" value="webui-1.xxx 2.bbb"/>
                    <parameter name="postname" value="队长"/>
                    <parameter name="yeMhazardDesc" value="webui-隐患描述"/>
                    <parameter name="hiddenLevel" value="一般隐患A级"/>
                    <parameter name="fineMoney" value="200"/>
                    <include name="TC_addData"/>
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="岗位管理" enabled="false">
        <classes>
            <class name="com.webui.aqfxfjgk.PostListPageTests">
                <methods>
                    <include name="TC_addPost"/>
                    <exclude name="TC_delPost"/>
                    <include name="TC_goDetail"/>
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="作业活动管理" >
        <classes>
            <class name="com.webui.aqfxfjgk.ActivityManagePageTests">
                <methods>
                    <include name="TC_addActivity"/>
                    <exclude name="TC_addDupActivity"/>
                    <include name="TC_search"/>
                    <include name="TC_detailRandom"/>
                    <include name="TC_delActivity"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>